.find-translator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
}

h1 {
  color: #29A9BD;
}

ng-select {
  margin: 0 auto;
  width: 400px;
  margin-bottom: 1em;
}

p {
  font-size: 20px;
}

button {
  font-size: 1.5em;
}

.progress-container, .success-container, .end-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 1px
}
