<div class="offer-translation-container">

  <a matButton="outlined" href="/">Home</a>
  <h1>Offer Translation</h1>
  <audio autoplay #audioFromRemote></audio>

  @if (rtcEstablished() == MatchingStatus.NOT_STARTED) {
    <p>
      I am free during the next 15 minutes and I know 2 or more of the following languages:
    </p>
    <ng-select
      [items]="languages"
      [(ngModel)]="knownLanguages"
      bindLabel="label"
      bindValue="code"
      [multiple]="true"
      placeholder="I know..."
    >
      <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
        <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" /> {{ item.label }}
      </ng-template>
    </ng-select>
    <button matButton="outlined" (click)="triggerOfferTranslation()" [disabled]="knownLanguages.length < 2">Offer
      translation
    </button>
  }

</div>

@if (rtcEstablished() == MatchingStatus.IN_PROGRESS) {
  <div class="progress-container">
    <img src="searching-for-match-icon.svg" alt="Interpreters Without Borders" class="icon" />
    <p>
      Please remain ready as you may be matched to someone who needs your help with
      <strong>{{ knownLanguages.map(l => languages.find(wl => wl.code == l)?.name).join(', ') }}</strong>.
    </p>
  </div>
}

@if (rtcEstablished() == MatchingStatus.SUCCESS) {
  <div class="success-container">
    <img src="audio-connection-established.svg" alt="Interpreters Without Borders" class="icon" />
    <h4>You have been successfully connected to help another person.</h4>
    <p>Audio is being transmitted between your devices...</p>
    <a matButton="outlined" href="/">End call</a>
  </div>
}

@if (rtcEstablished() == MatchingStatus.END) {
  <div class="end-container">
    <img src="audio-connection-closed.svg" alt="Interpreters Without Borders" class="icon" />
    <h4>The other party has ended the call.</h4>
  </div>
}
