<div class="welcome-container">
  <img src="welcome-logo.svg" alt="Interpreters Without Borders" class="icon" />
</div>
<h1>Connect with a human interpreter online who can assist in translating live for you.</h1>
<div class="group-button-container">
  <button matButton="filled" routerLink="/find-translator">I need a translator now</button>
  <button matButton="outlined" routerLink="/offer-translation">I offer my language skills</button>
</div>
<div class="footer">
  <a href="https://refugeescode.org" target="_blank">
    <img src="mfr-footer.svg" alt="Interpreters Without Borders" class="icon" />
  </a>
</div>
