<div class="welcome-container">
  <img src="welcome-logo.svg" alt="Interpreters Without Borders" class="icon" />
</div>
<h1>Welcome to our platform that helps you find a human interpreter online, who can immediately assist in live
  translating for you.
</h1>
<div class="group-button-container">
  <button matButton="outlined" routerLink="/find-translator">I need a translator now</button>
  <button matButton="outlined" routerLink="/offer-translation">I offer my language skills</button>
</div>
<div class="footer">
  <img src="mfr-footer.svg" alt="Interpreters Without Borders" class="icon" />
</div>
