h1,
h2 {
  text-align: center;
  color: #f97171;
  font-size: xxx-large;
}

h2 {
  font-size: xx-large;
  letter-spacing: 5%;
}

.group-button-container {
  display: flex;
  justify-content: center;
  gap: 120px;

}

button {
  background-color: #b2eee6;
  font-size: x-large;
}

@media (max-width: 768px) {
  h2 {
    line-height: 150%;
  }

  .group-button-container {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}

.welcome-container, .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1px
}

.icon {
  width: 240px;
  height: 240px;
  display: inline-block;
}
