<div class="welcome-container">
  <img src="/V-3-LOGO.svg" alt="Interpreters Without Borders" class="icon" />
</div>
<h2>Welcome to our platform that helps you find a human interpreter online, who can immediately assist in live
  translating for you.
</h2>
<div class="group-button-container">
  <button matButton="outlined" routerLink="/find-translator">I need a translator now</button>
  <button matButton="outlined" routerLink="/offer-translation">I offer my language skills</button>
</div>
<div class="footer">
  <img src="/FOOTER - MFR Caption.svg" alt="Interpreters Without Borders" class="icon" />
</div>
