@use '@angular/material' as mat;

body {
  background: #E4F4F7;
  background: linear-gradient(180deg, rgba(246, 248, 250, 0.4) 0%, rgba(228, 244, 247, 1) 100%);
  /*
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 20vh;
  */
}

:root {
  @include mat.button-overrides((
    filled-label-text-color: white,
    filled-container-color: #FE7959,
    outlined-label-text-color: #FE7959,
    outlined-outline-color: #FE7959,
    text-label-text-color: #FE7959,
  ));
}

:root {
  @include mat.dialog-overrides((
    subhead-color: #2DBFAD,
  ));
}
